<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="env" value="dev"/>
    <add key="myKey1" value="value1"/>
    <add key="myKey2" value="value2"/>
    <add key="dev.myKey2" value="value2Dev"/>
    <add key="test.myKey2" value="value2Test"/>
    
  </appSettings>
</configuration>